#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }


  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 180px;
    width: 120px;
    position: relative;
  }

  .placeholder {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border: 2px dashed #888;
    border-radius: 4px;
  }

  .grid-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
