
.block {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;      
}
.image-container1 {
    width: 500px;
    height: 500px;
    position: relative;
}
.imageGrid{
    width: 500px;
    height: 500px;
   
}
.grid-block{
    position: absolute;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0px;
    border:none;
    background-color: rgba(84, 180, 84, 0);
}
.grid-block.activated{
    background-color: rgb(80, 255, 80);
    color: black;
    font-size: 45px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.restart-button {
    width: 60px;
    height: 60px;
    background-image: url('../assets/restart-icon.png'); 
    filter: invert(34%) sepia(2%) saturate(983%) hue-rotate(173deg) brightness(104%) contrast(86%); /* Change the colour of the button image */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    position: absolute; 
    top: -80px; /* Position above the grid */
    left: 50%; 
    transform: translateX(-50%); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.restart-button:hover {
    transform: translateX(-50%) scale(1.1); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.restart-button:active {
    transform: translateX(-50%) scale(0.95); 
}

.level-text {
    position: absolute; 
    top: -120px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 18px; 
    font-weight: bold; 
    color: #121212; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
    filter: invert(34%) sepia(2%) saturate(983%) hue-rotate(173deg) brightness(104%) contrast(86%); /* The same colour as that of button */
    background-color: #ffffff; 
    padding: 5px 10px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
  }