brainfreeze_new/brainfreeze_new.Server/bin/
brainfreeze_new/brainfreeze_new.Server/obj/
brainfreeze_new/brainfreeze_new.client/obj/

brainfreeze_new/.vs/
*.suo
*.ntvs*
*.njsproj
*.sln

*.user
*.userosscache
*.sln.docstates

*.pdb
*.dll
*.exe
*.json

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
