.home-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid black; 
    cursor: pointer;
    text-decoration: none;
}

.home-arrow:hover {
    border-right-color: gray;
}
