#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .GameInterface {
    height: 20em;
    padding: 1.5em;
  }
  .experiment-text {
    color: #ffffff;
    font-size: small;
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image {
    width: 100%;
    height: 20em;
  }
  
  .image-button {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    border-radius: 5px;
  }

  .image-button.flashing {
    background-color: yellow;
  }